tr.rsvp_loc_global, tr.rsvp_loc_own {
	display:none;
}
/** header icons and toolbar **/
div.icon-48-jevents {
	background: url('../../../../components/com_jevents/assets/images/JeventsTransparent.png') transparent no-repeat;
	background-size: 220px 48px;
	padding-left:265px!important;
	line-height:48px;
}
div.pagetitle {
background-repeat:no-repeat;
margin-left:10px;
padding-left:60px;
}
div.pagetitle h2 {
color:#146295;
font-size:2em;
font-weight:bold;
line-height:48px;
margin:0;
padding:0;
}
div.pagetitle span {
color:#666666;
}
div.toolbar-list {
float:right;
padding:0;
text-align:right;
}
div.toolbar-list ul {
margin:0;
padding:0;
}
div.toolbar-list li {
color:#666666;
float:left;
height:48px;
list-style:none outside none;
padding:1px 1px 3px 4px;
text-align:center;
}
div.toolbar-list li.spacer {
width:10px;
}
div.toolbar-list li.divider {
border-right:1px solid #C7C7C7;
width:2px;
}
div.toolbar-list span {
display:block;
float:none;
height:32px;
margin:0 auto;
width:32px;
}
div.toolbar-list a {
border:1px solid #F4F4F4;
cursor:pointer;
display:block;
float:left;
padding:1px 5px;
white-space:nowrap;
text-decoration: none;
}
div.toolbar-list a:hover {
border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
border-left:1px solid #EEEEEE;
border-style:solid;
border-width:1px;
color:#0B55C4;
text-decoration:none;
}


div.rsvpfield {
	border:solid 1px #333;
	padding:2px;
	margin:3px 0px 0px 0px;
}

div.rsvpfieldinput {
	margin:0px;
	float:left;
	min-width:59%;
}

div.rsvpfieldpreview {
	width:30%;
	margin:0px;
	float:left;
}
div.previewlabel {
	display:none;
}
div.rsvpfield div.previewright {
	width:30%;
	margin:0px;
	float:right;
	padding:4px;
	border:solid 1px #000;
}
div.rsvpfield div.previewright div.previewlabel {
	display:block;
	font-weight:bold;;
	font-size:1.3em;
	margin-bottom:5px;
}

div.rsvplabel {
	float:left;
	font-weight:bold;
	width:25%;
	padding:2px 5px 6px 5px;
}
div.rsvpinputs{
	width:75%;
	margin-left:25%;
}
div.rsvpclear {
	clear:both;
	margin-bottom:3px;
}
input.deleteFieldButton {
	display:none;
	margin:10px;
	font-weight:bold;
}
input.closeFieldButton {
	display:none!important;
	margin:10px;
	font-weight:bold;
	float:right;
}
span.rsvppl {
	font-weight:bold;
	margin-right:10px;
}

table.adminlist  td {vertical-align: top;}


.rsvp_nofees {
	display:none;
}
.rsvp_withfees {
}

div#jevents fieldset.jevconfighidden {display:none;}
div#jevents fieldset.jevtickethidden {display:none;}
div#jevents input.jevoption_value, div#jevents input.jevfee_value {
	width:50px;
}
div#jevents fieldset.adminform label {
	display:inline;
	float:none!important;
	margin-left:2px!important;
}
div#jevents fieldset.adminform input, 
div#jevents fieldset.adminform textarea, 
div#jevents fieldset.adminform select, 
div#jevents fieldset.adminform img, 
div#jevents fieldset.adminform button {
	float:none!important;
	margin-right:5px;
}

div#jevents .largeDetailContent {
}
div#jevents  legend.toggleEnlarge{cursor: pointer;}
div#jevents fieldset span.spanopen {
	display:none;
}
div#jevents .largeDetail {
	height:0px;overflow: hidden;
}

div#jevents div.current{max-width: none!important;}
div#jevents div.current label, div#jevents div.current input {
	float:none;
	clear:none;
	display:inline;
}
div#jevents div.current label {
	margin-right:10px;
}
div#jevents tr, div#jevents td {border-width:0px;}
div#jevents .adminformlist label.control-label {
	min-width:250px;
	float:left!important;
}
div#jevents ul.adminformlist li {
	clear:left;
}

div#jevents table.adminform {
background-color:#FFFFFF;
border:1px solid #D5D5D5;
border-collapse:collapse;
margin:8px 0 15px;
width:100%;
}
div#jevents table.adminform tr.row0 {
background-color:#F9F9F9;
}
div#jevents table.adminform tr.row1 {
background-color:#EEEEEE;
}
div#jevents table.adminform th {
background-repeat:repeat;
color:#000000;
font-size:1.091em;
height:25px;
padding:6px 2px 4px 4px;
text-align:left;
}
div#jevents table.adminform td {
font-size:1.091em;
padding:5px;
text-align:left;
}
div#jevents table.adminform td.filter {
text-align:left;
}
div#jevents table.adminform td.helpMenu {
text-align:right;
}
div#jevtemplate_fields, div#jevtemplate_fields .rsvptemplatetype  {float:left;}
div#jevents table.adminform #newFieldButton  {float:left;}
div#jevents table.adminform .deleteFieldButton  {float:none;}
div#jevents table.adminform #rsvpfields {clear:left}

div#jevents table.adminform fieldset label , div#jevents table.adminform fieldset input , div#jevents table.adminform fieldset select {display:inline;float:none;}

div#jevents fieldset {
	border:solid 1px #cccccc;
	margin-bottom:5px;
	display:block;
	padding:5px 0px;
	background:none;
}
div#jevents fieldset {
	margin:5px;
	padding:5px;
}
div#jevents fieldset legend {
	padding:0px 10px;
	color:#146295;
	font-weight:bold;
	font-size:1em;
}
div#jevents table#jevadminform {
	font-size:1em;
	margin:0px 5px 5px 5px;
}
div#jevents table#jevadminform td {
	padding:3px;
}
div#jevents table#jevadminform table td {
	padding:0px;
}

div#jevents fieldset table {
	margin:0px;
}

div#jevents dl.tabs {
float:left;
margin:10px 0 -1px;
z-index:50;
width:700px;
}
div#jevents dl.tabs dt {
background:none repeat scroll 0 0 #F0F0F0;
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
border-top:1px solid #CCCCCC;
color:#666666;
float:left;
margin-left:3px;
padding:4px 10px;
clear:none;
width:auto;
}
div#jevents dl.tabs dt.open {
background:none repeat scroll 0 0 #F9F9F9;
border-bottom:1px solid #F9F9F9;
color:#000000;
z-index:100;
}
div#jevents div.current {
border:1px solid #CCCCCC;
clear:both;
padding:10px;
}
div#jevents div.current dd {
margin:0;
padding:0;
float:none;
}

/* Joomla 1.6 */
fieldset.jevconfig div.current td.paramlist_key {
	width:350px;
}
.jevconfig .current{
	width:inherit;
}

.jevconfig div.current input, .jevconfig  div.current textarea, .jevconfig  div.current select,
#jevents div.current input, #jevents  div.current textarea, #jevents  div.current select
{
	margin-bottom:inherit;
	float:none;
}
.jevconfig .current label,
#jevents .current label  {
	float:none;
	display:inline;
}
.jevconfig .current td.paramlist_key, .jevconfig .current td.paramlist_value {
	border-bottom:1px solid #ddd;
	padding:4px 5px 4px 0px;
}
.jevconfig .current td.paramlist_key {
	color:#666;
	font-weight:bold;
}
h3.error {
	color: red !important;
}
label.btn {
	padding-right: 10px;
}

form table.adminlist thead th {text-align:left;}
form table.adminlist thead th.pub {text-align:center;}

/* non-attending attendee */
.notattending {font-style: italic;opacity: 0.6;}