#registration-tab-pane {
	margin:10px 0px 0px 0px;
	color:#000;
}

.paramtmpl, .disabledfirstparam , .hideparam {
	display:none!important;
}
/* Joomla 3.0 calendar icon */
 .paramtmpl + button.btn, .disabledfirstparam + button.btn, .hideparam + button.btn{
	display:none!important;
}


 .jevattendeestable {width:100%;overflow-x:auto;position:relative;}
 .jevattendeestable  #jevattendees { position:absolute;}
 #jevattendees th {padding:0px 2px;}
#jevattendees td {vertical-align: top;border-bottom:solid 1px #ccc;}
#jevattendees tr.row0{background-color:#e0e0e0;}
#jevattendees tr.row1{background-color:#fff;}

#registration-tab-pane div#addguest{
	float:left;
}
#registration-tab-pane div#addguest div.blank {
	padding:0px 5px;
	height:22px;
	line-height: 22px;

}

#registration-tab-pane div#killguest {
	cursor:pointer;
	float:left;
	display:none;
	color:#606f79;
}
#registration-tab-pane div#killguest div.blank {
	padding:0px 5px;
	height:22px;
	line-height: 22px;

}

div.jevattend_email {
	margin-bottom: 10px;
}
div.jevattend_email label{ font-weight: bold;}
div.jevattendform div.paybalance , div.jevattendform div.paybalance div{float:none;}
div.jevcapacity,  div.paymentmethod{margin:3px 0px;}
.jevattendform .editlinktip {cursor:help;}

#registration-tab-pane label , #jevents .jevbootstrap #registration-tab-pane  label{
    display: inline;
    margin-right: 10px;
}
/* Chosen radio labels! */
#registration-tab-pane .btn-group label , #jevents .jevbootstrap #registration-tab-pane   .btn-group label{
	margin-right:0px;
}

.paramlist #jevattend_email, .paramlist #jevattend_username , .paramlist #jevattend_password  , .paramlist #jevattend_password2{max-width: 450px;}

.tip-wrap .tip {
    text-align: left;
}