<div style="margin:3px;">
	<h3>{{Title:JEVPPL_TITLE}}</h3>

	<fieldset class="adminform">
		{{Street:JEVPPL_STREET}}<br />
		{{City:JEVPPL_CITY}}<br />
		{{State:JEVPPL_STATE}}<br />
		{{Postcode:JEVPPL_PCODE}}<br />
		{{Country:JEVPPL_COUNTRY}}<br />
		{{Url:JEVPPL_URL}}<br />
		{{Image:JEV_PIMAGE}}<br />
		{{Description:JEVPPL_DESC}}<br />
	</fieldset>

	<fieldset class="adminform">
		<legend>Google Map</legend>
		Click map for directions:<br/><br/>
		{{Map:JEVPPL_MAP}}
	</fieldset>

	<fieldset class="adminform">
		<legend>Upcoming Events</legend>
		{{Upcoming Events:JEVPPL_UPCOMING}}
	</fieldset>
</div>