.icon-48-gallerycategorys {
      background-image: url(../images/l_gallerycategorys.png);
      padding-left:60px!important;
}

.icon-48-gallerycategory {
      background-image: url(../images/l_gallerycategorys.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}